.dsf-dv-gis {
  height: 100%;
  position: relative;
  &.dsf-dv-gis-mine-map-scatter {
    height: auto;
  }
  &.dsf-dv-gis-icon {
    height: auto;
  }
  .map {
    width: 100%;
    height: 100%;
  }

  // 去掉百度地图的logo以及文字
  .BMap_cpyCtrl {
    display: none;
  }
  .amap-logo {
    opacity: 0;
  }
  .amap-copyright {
    opacity: 0;
  }
  .anchorBL {
    display: none;
  }

  //gis运行一张图击穿属性
  .gis-viewpart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .ds-page-head {
      pointer-events: auto;
    }
    .data-view-page {
      pointer-events: none;
      .dsf-layout-container {
        pointer-events: none;
        .dsf-layout-grid {
          pointer-events: none !important;
        }
      }
    }
  }

  // minemap棱柱style
  .flatbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    .cube-box {
      position: relative;
      display: inline-block;
      transform-style: preserve-3d;
      transform: rotateX(-30deg) rotateY(45deg);
      .flatbar-box {
        transform-style: preserve-3d;
        position: absolute;
        left: 0;
        bottom: 0;
        .cube {
          position: absolute;
          left: 0;
          top: 0;
        }
        .cube1 {
          width: 100%;
          height: 100%;
          transform-origin: left top;
          transform: rotateY(-90deg);
        }
        .cube2 {
          width: 100%;
          height: 100%;
          transform-origin: right top;
        }
        .cube3 {
          width: 100%;
          padding-top: 100%;
          transform-origin: left top;
          transform: rotateX(90deg);
        }
      }
    }
    .sylider-box {
      position: relative;
      .cube {
        position: absolute;
        border-radius: 50%;
        width: 100%;
      }
    }
    .flatbar-label {
      position: absolute;
      bottom: 0;
      left: 0;
      word-break: keep-all;
      z-index: 10;
    }
  }
  .scatter-wrapper {
    .scatter-label {
      position: absolute;
      word-break: keep-all;
      z-index: 10;
      transform: translateX(-50%) translateY(-50%);
    }
    .scatter-box,
    .scatter-img {
      &.animated {
        animation: myBreath 2s linear infinite;
      }
    }
    @keyframes myBreath {
      0% {
        transform: scale(0.65);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.65);
      }
    }
    .scatter-img {
      background-size: cover;
    }
  }
  // mineMap图标图层
  .icon-wrap {
    .icon-label {
      position: absolute;
      word-break: keep-all;
      z-index: 10;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  // // gis图列
  // .gis-legend-wrap {
  //   position: absolute;
  //   .gis-legend {
  //     display: flex;
  //     margin-bottom: 2px;
  //     align-items: center;
  //     .gis-legend-icon {
  //       width: 20px;
  //       height: 12px;
  //       margin-right: 5px;
  //       border-radius: 5px;
  //     }
  //   }
  // }

  // gis视觉映射
  .gis-visualmap-wrap {
    .gis-visualmap {
      position: absolute;
      .gis-visualmap-name {
        text-align: center;
      }
      .gis-visualmap-gradient {
        position: relative;
        margin: 20px;
        .gradient {
          width: 24px;
          height: 150px;
        }
        .high {
          position: absolute;
          letter-spacing: 0;
          line-height: 1.1;
          right: 0;
          top: 0;
          transform: translate(110%, -50%);
        }
        .low {
          position: absolute;
          line-height: 1.1;
          letter-spacing: 0;
          right: 0;
          bottom: 2px;
          transform: translate(110%, 50%);
        }
      }
      .gis-visualmap-color-group {
        padding: 20px;
        .gis-visualmap-color {
          display: flex;
          align-items: center;
          margin: 0 10px 10px 0;
          .color {
            width: 20px;
            height: 16px;
            margin-right: 6px;
          }
          .name {
          }
        }
      }
    }
  }
}

@keyframes twinkle {
  10% {
    opacity: 0.3;
  }
}
.dsf-dv-gis-legend {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  .legend-item {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
    .shape {
      position: relative;
      // 普通点
      .point-attr {
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }
      // 热力图
      .heat {
        width: 28px;
        height: 15px;
        border-radius: 4px;
      }
      // 动效点
      .scatter {
        @extend .point-attr;
        animation: twinkle 1s infinite;
      }
      // 柱体
      .flat-bar {
        position: absolute;
        height: 20px;
        top: 0;
        position: relative;
        display: inline-block;
        transform-style: preserve-3d;
        transform: rotateX(-30deg) rotateY(45deg);
        .flat-bar-box {
          width: 10px;
          height: 14px;
          transform-style: preserve-3d;
          position: absolute;
          left: 0;
          bottom: 0;
          .cube {
            position: absolute;
            left: 0;
            top: 0;
          }
          .cube1 {
            width: 100%;
            height: 100%;
            transform-origin: left top;
            transform: rotateY(-90deg);
          }
          .cube2 {
            width: 100%;
            height: 100%;
            transform-origin: right top;
            transform: translateZ(10px);
          }
          .cube3 {
            width: 100%;
            padding-top: 100%;
            transform-origin: left top;
            transform: rotateX(90deg);
          }
        }
      }
      //六边形
      .hexagon {
        position: relative;
        top: -9px;
        .tool {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(18px / 1.732);
          height: 18px;
        }
        .main2 {
          transform: rotate(120deg);
        }
        .main3 {
          transform: rotate(240deg);
        }
      }
      // 面
      .polygon {
        width: 28px;
        height: 15px;
      }
      //飞行线
      .pulseLink {
        font-size: 18px;
      }
      //图标
      .icon-img {
        width: 28px;
      }
    }
    .name {
      margin-left: 6px;
    }
  }
}
