.data-view-full-screen-wrap {
  width: 100%;
  height: 100%;
  .data-view-full-screen {
    display: flex;
    align-items: center;
    .screen-icon {
      position: relative;
      cursor: pointer;
    }
    .screen-text {
      position: relative;
      cursor: pointer;
    }
  }
}
