.dsf-single-more-select {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  * {
    box-sizing: border-box;
  }

  .single-more-select-item {
    line-height: normal;
    position: relative;
    font-size: 14px;
    color: #333333;
    padding: 6px 8px;
    border: 1px solid rgba(238, 238, 238, 1);
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 0 10px 10px 0;
    transition: all .3s;
    &:hover {
      border: 1px solid rgba(60, 141, 219, 1);
      color: rgba(60, 141, 219, 1);
      .text-wrap {
        .text-icon {
          color: rgba(60, 141, 219, 1);
        }
      }
    }
    &.active {
      border: 1px solid rgba(60, 141, 219, 1);
      color: rgba(60, 141, 219, 1);

      .active-icon-select {
        display: inline-block;
      }
      .text-wrap {
        .text-icon {
          color: rgba(60, 141, 219, 1);
        }
      }
    }
    .text-wrap {
      display: flex;
      align-items: center;

      .color-wrap {
        margin-right: 6px;
        border: 1px solid rgba(238, 238, 238, 1);
        border-radius: 50%;
        .top-half-circle {
          width: 16px;
          height: 8px;
          border-radius: 8px 8px 0 0;
        }

        .bottom-half-circle {
          width: 16px;
          height: 8px;
          border-radius: 0 0 8px 8px;
        }
      }
      .text-icon {
        position: relative;
        top: 1px;
        margin-right: 6px;
        font-size: 14px;
        color: rgba(96, 98, 102, 1);
      }
    }
    .active-icon-select {
      position: absolute;
      font-size: 16px;
      margin-left: 6px;
      display: none;
      right: 8px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
