.des-dv-more-custom-list-group-wrapper {

  .move-up-down-move {
    transition: transform 0.5s ease;
  }

  .move-up-down-enter-active,
  .move-up-down-leave-active {
    transition: transform 0.5s ease;
  }

  .move-up-down-enter-from,
  .move-up-down-leave-to {
    opacity: 0;
    transform: translateX(20px);
  }

  .single-layout-item {
    border: 1px dashed var(--t--normal);
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

    .flex-wrap {
      .title {
        flex: 1;
        font-weight: bold;
      }

      display: flex;
      align-self: center;

      .btn-list {
        margin-left: 10px;
        display: flex;
        flex-shrink: 0;
      }
    }

    &-info {
      flex: 1;

      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        >span {
          width: 60px;
          text-align: center;
        }

        .data-view-dv-dsf-pixel {
          width: 100%;

          .el-input {
            width: 100%;

            .el-input__inner {
              width: 100%;
            }
          }
        }
      }
    }


  }
}