
@font-face{
  font-family: 'DIGIT';
  src : url('~_dataview/assets/fonts/font/DIGIT-LCD.ttf');
}

@font-face{
  font-family: 'Alibaba-PuHuiTi-Regular';
  src : url('~_dataview/assets/fonts/font/Alibaba-PuHuiTi-Regular.otf');
}
@font-face{
  font-family: 'Alibaba-PuHuiTi-Medium';
  src : url('~_dataview/assets/fonts/font/Alibaba-PuHuiTi-Medium.otf');
}
@font-face{
  font-family: 'Alibaba-PuHuiTi-Bold';
  src : url('~_dataview/assets/fonts/font/Alibaba-PuHuiTi-Bold.otf');
}

