.data-view-common-attr {
  .data-view-common-attr-form {
    padding: 10px 0;
    .el-form-item {
      margin-bottom: 6px;
      &.exclusive-row {
        display: block !important;
      }
    }
    .margin-item {
      display: inline-block;
      margin-left: 10px;
      .margin-input-number {
        width: 90px;
      }
    }
    .common-width {
      width: 160px;
    }
    .data-view-common-attr-item {
      width: inherit;
    }
  }
}
