.des-dv-gis-relation {
  display: flex;
  height: 100%;

  .data-setting {
    width: 400px;
    border: 1px solid #e6e6e6;
    overflow-y: auto;
    flex-shrink: 0;
    height: 100%;
  }

  .right {
    flex: 1;
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-sizing: border-box;

    .right-scroller {
      height: 100%;
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
      .map-relation__item {
        border-bottom: 1px solid #e6e6e6;
        margin: 20px 0;
        position: relative;

        .delete-icon {
          position: absolute;
          right: 10px;
          top: 5px;
          cursor: pointer;
        }
        &-name {
          font-size: 14px;
          color: #222;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          .item-type {
            margin-right: 5px;
          }
          .item-name {
            color: #999;
          }
          .margin-right {
            margin-right: 5px;
          }
        }
        &-input {
          .el-row {
            width: 100%;
          }
          .cell-item {
            display: flex;
            align-items: center;
            margin: 10px;
            .config-title {
              margin-right: 10px;
              flex-shrink: 0;
              position: relative;
            }
            .el-cascader--small {
              width: 188px;
            }
          }
        }
      }
    }

    .nav-btn__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      &-item {
        padding: 7px 15px;
        font-size: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        white-space: nowrap;
        background: #fff;
        margin-right: 10px;
        cursor: pointer;
        @include font-theme("normal");
        @include border-theme(1px, solid, "normal");

        &.active {
          color: #ffffff;
          @include background-theme("normal");
        }
      }
    }
  }
}
